
<!--<div class="app-staff">
        <div id="main-pane" class="ui-layout-center">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#home" data-toggle="tab">Home</a>
                </li>
                <li><a href="#profile" data-toggle="tab">Profile</a>
                </li>
            </ul>
            <div class="tab-content" ng-controller="staffCtrl">
                <div class="tab-pane fade in active" id="home" data-split-pane>
                    <div data-split-pane-component data-width="20em">left</div>
                    <p>Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.</p>
                    <ul class="employees" ng-model="employees.name">
                        <li ng-repeat="employee in employees">
                            <span>{{employee.name}}</span>
                            <p>{{employee.age}}</p>
                        </li>
                    </ul>
                    <div data-split-pane-divider data-width="5px"></div>
                    <div data-split-pane-component>right</div>
                </div>

                <div class="tab-pane fade" id="profile">
                    <p>Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table craft beer twee. Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts ullamco ad vinyl cillum PBR. Homo nostrud organic, assumenda labore aesthetic magna delectus mollit. Keytar helvetica VHS salvia yr, vero magna velit sapiente labore stumptown. Vegan fanny pack odio cillum wes anderson 8-bit, sustainable jean shorts beard ut DIY ethical culpa terry richardson biodiesel. Art party scenester stumptown, tumblr butcher vero sint qui sapiente accusamus tattooed echo park.</p>
                    <ul class="employees">
                        <li ng-repeat="employee in $ctrl.employees">
                            <span>{{employee.name}}</span>
                            <p>{{employee.age}}</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
</div>-->
<style>
    table {
        border-collapse: collapse;
        width: 100%;
    }

    th, td {
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even){background-color: #f2f2f2}

    th {
        background-color: #87CEEB;
        color: black;
    }
    .ui-layout-pane {
        background: #060606;
        height: 100%;
    }
    .stretch {
        width: 100%;
        overflow: hidden;
    }
</style>
<div class="stretch">
    <input ng-model="search.title" placeholder="Search" style="width: 80%" />Size: {{photos.length}}
    <p>
    <ul ng-repeat="photo in photos | filter:search | limitTo:10">
        <li>
            <img ng-src="{{photo.url_sq}}">
            <br><b>{{photo.title}}</b>

            <br>Lat: {{photo.latitude}} Lon: {{photo.longitude}}
            <br>{{photo.tags}}</li>
    </ul>
    </p>
</div>
<div class="left">
    <div class="searching">
        <p>
            Search:
            <input ng-model="$ctrl.query" />
        </p>

        <p>
            Sort by:
            <select ng-model="$ctrl.orderProp">
                <option value="name">Alphabetical</option>
                <option value="age">Newest</option>
            </select>
        </p>
    </div>
    <div class="app-staff">
        <!--{{status}} {{employees}}-->
        <!--<ul class="employees">-->
            <table border="1" class="employees">
                <tr>
                    <th>Name</th>
                    <th>Job Title</th>
                    <th>Age</th>
                    <th>Grade</th>
                </tr>
                <tr ng-repeat="employee in employees | filter:$ctrl.query | orderBy:$ctrl.orderProp">
                    <td>{{employee.name}}</td>
                    <td>{{employee.job}}</td>
                    <td>{{employee.age}}</td>
                    <td>{{employee.grade}}</td>
                </tr>
            </table>
            <!--<li ng-repeat="employee in employees track by $index">
                <span>{{employee.id}}</span>
            </li>-->
        <!--</ul>-->
    </div>
</div>
<!--add two tab-panes-->
<div class="right" align="right">
    <div class="add-box">
        <div style="float:right;margin:20px;">
            <input type="text" ng-model="teamname" placeholder="Enter the Team" />
            <p><button ng-click="add()">Add the Team</button></p>
        </div>

    </div>
    <div class="teamlist">
        <table border="1" class="teams">
            <tr>
                <th>Team title</th>
            </tr>
            <tr ng-repeat="team in teams">
                <td>{{team.teamname}}</td>
            </tr>
        </table>
    </div>
</div>
<div ui-view></div>
